
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
}
 
*,
*:before,
*:after {
  box-sizing: border-box;
}
 
a {
  text-decoration: none;
  color: #222;
}
 
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
body {
  font-family: "Roboto", sans-serif;
  background-color: #222;
 
}

h1{
  font-size: 100px;
  font-weight: 700;
  text-align: center;
  margin-top: 150px;
  font-weight: 900;
  letter-spacing: 10px;
  line-height: 1;
  color: #fff;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
 
}

span{
  font-size: 100px;
  font-weight: 700;
  text-align: center;
  margin-top: 150px;
  font-weight: 600;
  letter-spacing: 10px;
  color: #6c6c49;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 1px 0 #bbb,
               0 1px 0 #b9b9b9,
               0 1px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.0),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.20);
 
}

.btn{
margin-left:680px;
margin-top: 50px;
  padding: 15px;
  font-size: 20px;
  width: 200px;
  font-weight: 500;
color: #fff;
border: none;background: #fff;
color: #262626;
margin-bottom: 190px;
cursor:pointer;
border-radius: 30px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
font-weight: 600;
}

.btn:hover{
background:none;
border:1px solid #ddd;
transition: .5s;
color: #fff;
}
 
 
.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
 
.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  background-color: #2fa0f6;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}
 
.button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #fff;
}
 
.button span {
  display: none;
}
 
@media (min-width: 600px) {
  .button span {
    display: initial;
  }
}
 
.button--icon {
  min-width: initial;
  padding: 0.5rem;
}

/* Element Body */

.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1340px;
}

.elementor-section.elementor-section-boxed>.elementor-container {
  max-width: 1140px;
}

.elementor-section .elementor-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.elementor *, .elementor :after, .elementor :before {
  box-sizing: border-box;
}

.elementor-element {
  --widgets-spacing: 30px;
}

.elementor-element {
  --flex-direction: initial;
  --flex-wrap: initial;
  --justify-content: initial;
  --align-items: initial;
  --align-content: initial;
  --gap: initial;
  --flex-basis: initial;
  --flex-grow: initial;
  --flex-shrink: initial;
  --order: initial;
  --align-self: initial;
  flex-basis: var(--flex-basis);
  flex-grow: var(--flex-grow);
  flex-shrink: var(--flex-shrink);
  order: var(--order);
  align-self: var(--align-self);
}